[MESSAGES CONTROL]
disable=C0103       #// Variable Constant name "api_url" doesn't conform to UPPER_CASE naming style
disable=C0301       #// Line too long
disable=C0114       #// Missing module docstring
disable=C0413       #// Import not at top of file
disable=W0603       #// Using the global statement
disable=W0621       #// Redefining name from outer scope
